@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* 폰트사이즈 저시력자 접근성을 위해 % 로 설정, 기본값 16px * 62.5% = 10px */
  //font-size: 62.5%;
}
body {
  min-width: 1200px;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 파이어폭스 초기화 방법 */
input[type="number"] {
  -moz-appearance: textfield;
}
